transformers==4.32.0
accelerate
tiktoken
einops
transformers_stream_generator==0.0.4
scipy
modelscope
optimum
accelerate==0.21.0
bitsandbytes
loguru==0.7.0
numpy==1.21.4
pandas==1.2.5
tqdm==4.62.3
deepspeed==0.9.5
tensorboard
sentencepiece
transformers_stream_generator
tiktoken
einops
httpx
mmengine
xformers
peft